Repository woly-ui/woly, changes with the labels that .github/labeler.yml gives for each.
All labels: @atoms, @molecules, @organisms, @templates, packages, build, configuration

ci(build): fix task name
  .github/workflows/build.yml
Labels: none

Update deploy-docs.yml
  .github/workflows/deploy-docs.yml
Labels: none

fix: fix button icon
  src/ui/atoms/button-icon/example.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Labels: @atoms

[FRNT-395] Delete examples in components (#87)
  src/ui/atoms/button-floating/example.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/usage.mdx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/select/usage.mdx
Labels: @atoms, @molecules

[FRNT-373] Rewrite ButtonIcon (#84)
  src/ui/atoms/button-icon/example.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Labels: @atoms

Deploying to gh-pages from @ 5138be2d62678853d1ca5f096bf59b6d17175965 🚀
  404.html
  404/index.html
  app-7246aa3ff42367038c21.js
  app-7246aa3ff42367038c21.js.map
  app-a2865ebace41d8bc7787.js
  app-a2865ebace41d8bc7787.js.LICENSE.txt
  app-a2865ebace41d8bc7787.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button-floating/page-data.json
  page-data/package/woly/component/field/page-data.json
  page-data/package/woly/component/header-panel/page-data.json
  page-data/package/woly/component/notification/page-data.json
  page-data/package/woly/component/select/page-data.json
  page-data/package/woly/component/text-area/page-data.json
  webpack.stats.json
Labels: configuration

Deploying to gh-pages from @ 8b80e63dd4f1c8b8c86c839cbd8c205df13836e3 🚀
  404.html
  404/index.html
  app-0eef5c17939f731d14c5.js
  app-0eef5c17939f731d14c5.js.LICENSE.txt
  app-0eef5c17939f731d14c5.js.map
  app-a2865ebace41d8bc7787.js
  app-a2865ebace41d8bc7787.js.map
  chunk-map.json
  index.html
  package/woly/component/backdrop/index.html
  package/woly/component/button-floating/index.html
  package/woly/component/button-icon/index.html
  package/woly/component/button/index.html
  package/woly/component/checkbox/index.html
  package/woly/component/chip/index.html
  package/woly/component/field/index.html
  package/woly/component/grid/index.html
  package/woly/component/header-panel/index.html
  package/woly/component/heading/index.html
  package/woly/component/input-password/index.html
  package/woly/component/input/index.html
  package/woly/component/label/index.html
  package/woly/component/list/index.html
  package/woly/component/notification/index.html
  package/woly/component/popover/index.html
  package/woly/component/select/index.html
  package/woly/component/surface/index.html
  package/woly/component/switch/index.html
  package/woly/component/text-area/index.html
  package/woly/component/text/index.html
  package/woly/component/tooltip/index.html
  page-data/app-data.json
  page-data/package/woly/component/button-icon/page-data.json
  webpack.stats.json
Labels: configuration

feat: implement Separator atom
  src/ui/atoms/index.ts
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/separator/usage.mdx
Labels: @atoms

.github/labeler.yml:

'@atoms':
  - src/ui/atoms/**/*
  - src/atoms/**/*

'@molecules':
  - src/ui/molecules/**/*
  - src/molecules/**/*

'@organisms':
  - src/ui/organisms/**/*
  - src/organisms/**/*
 
'@templates':
  - src/ui/templates/**/*
  - src/templates/**/*
  
packages:
  - packages/**/*
  
build:
  - build/**/*

configuration:
  - ./*
