Repository woly-ui/woly, changes with the labels that .github/labeler.yml gives for each.
All labels: @atoms, @molecules, @organisms, lib, configuration

.github/labeler.yml:

'@atoms':
  - src/ui/atoms/**/*
  - src/atoms/**/*

'@molecules':
  - src/ui/molecules/**/*
  - src/molecules/**/*

'@organisms':
  - src/ui/organisms/**/*
  - src/organisms/**/*

lib:
  - src/lib/**/*

configuration:
  - ./*

fix: building typings
  package.json
  stories/atoms.stories.tsx
  tsconfig.json
Labels: configuration

fix(atoms/block): component should be selectable by styled
  src/ui/atoms/block/index.tsx
Labels: @atoms

fix(atoms/title): title should be selectable by styled
  src/ui/atoms/title/index.tsx
Labels: @atoms

v0.1.3
  package.json
Labels: configuration

fix(atoms/block): box-sizing: border-box
  src/ui/atoms/block/index.tsx
Labels: @atoms

0.1.4
  package.json
Labels: configuration

fix(atoms/title): add margin bottom
  src/ui/atoms/title/index.tsx
Labels: @atoms

v0.1.5
  package.json
Labels: configuration

fix(atoms/input): use ChangeEvent instead of SyntheticEvent
  src/ui/atoms/input/index.tsx
Labels: @atoms

0.1.6
  package.json
Labels: configuration

0.1.7
  package.json
Labels: configuration

0.1.8
  package.json
Labels: configuration

fix(atoms/input): bROKEN image in css
  src/ui/atoms/input/index.tsx
Labels: @atoms

v0.1.9
  package.json
Labels: configuration

v0.1.10
  package.json
Labels: configuration

fix: do not test on older versions
  .github/workflows/package.yml
Labels: none

refactor(button): implement new correct themes and styles
  .prettierrc
  .storybook/config.js
  .storybook/layout/styles.js
  src/index.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/story.tsx
  src/ui/atoms/form/story.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/title/index.tsx
  src/ui/atoms/title/story.tsx
  src/ui/index.ts
  src/ui/themes/dark.ts
  src/ui/themes/index.ts
  src/ui/themes/light.ts
Labels: @atoms, configuration

feat: add scope
  src/ui/atoms/index.ts
  src/ui/atoms/scope/index.tsx
Labels: @atoms

feat(button): add modularity
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/story.tsx
Labels: @atoms

feat(ui): base input
  README.md
  src/ui/atoms/form/index.tsx
  src/ui/atoms/form/story.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/story.tsx
Labels: @atoms, configuration

Create release-drafter.yml
  .github/release-drafter.yml
Labels: none

Create release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: none

Update release-drafter.yml
  .github/release-drafter.yml
Labels: none
