Repository woly-ui/woly, changes with the labels that .github/labeler.yml gives for each.
All labels: @atoms, @molecules, @organisms, @templates, packages, build, configuration

[FRNT-559] add toast weight (#165)
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Labels: @atoms, @molecules

update Styleguide
  src/styleguide/html/data-attribute/data-attribute.mdx
Labels: none

refactor: remame variable
  src/lib/palette.tsx
Labels: none

feat: implement color palette fabrucs
  src/lib/global.ts
  src/lib/palette.tsx
Labels: none

[FRNT-564] Implement color palette fabrics (#162)
  src/lib/global.ts
  src/lib/palette.tsx
Labels: none

feat: move font-stacks to a separate file
  src/lib/font-stacks.ts
  src/lib/global.ts
Labels: none

feat: add system-ui as a fallback font, add a font-weight vars
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Labels: @atoms

refactor: remove font-weight, rename system font-stack
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/text/index.tsx
Labels: @atoms

refactor: rebase and format
  src/lib/global.ts
Labels: none

[FRNT-568] add font stacks (#153)
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Labels: @atoms

[FRNT-560] add weight to button-icon (#164)
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
Labels: @atoms

feat: implement priorities fabric
  src/lib/global.ts
  src/lib/priority.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/priorities.mdx
  src/woly/atoms/button/state-props.tsx
Labels: @atoms

[FRNT-396] Rewrite data selectors (#150)
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Labels: @atoms, @molecules

refactor: remove examples, remove some weight variants
  src/lib/global.ts
  src/lib/priority.tsx
  src/woly/atoms/button/priorities.mdx
Labels: @atoms

fix: correct white priority
  src/lib/global.ts
  src/lib/priority.tsx
Labels: none

[FRNT-520] Rewrite tooltip (#129)
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @atoms, @molecules

chore: bump version
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages, configuration

chore: bump version (#169)
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages, configuration

Deploying to gh-pages from @ 9e90135c4edec679a0abd43f3d811f1c2a3c26d0 🚀
  page-data/woly/atoms/chip/page-data.json
Labels: none

feat(docs): add configurators (+ color configurator)
  package.json
  src/lib/configurators/color/index.tsx
  src/lib/configurators/color/scopes.ts
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/context.ts
  src/lib/configurators/index.ts
  src/lib/configurators/inputs/color.tsx
  src/lib/configurators/inputs/types.tsx
  src/lib/configurators/stylesheet.tsx
  src/lib/configurators/types.ts
  src/lib/hooks/use-force-update.ts
  src/lib/hooks/use-sync-height.tsx
  src/lib/hooks/use-unique-id.ts
  src/lib/map-generation.tsx
  src/lib/playground.tsx
  src/static/icons/color-palette.svg
  src/static/icons/index.ts
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  yarn.lock
Labels: @atoms, configuration

style(docs): fix spaces
  src/woly/atoms/button/usage.mdx
Labels: @atoms

style(icons): format
  src/static/icons/index.ts
Labels: none

style: lint styles
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/inputs/color.tsx
Labels: none

chore: add lint:style:fix command
  package.json
Labels: configuration

perf(configurators): replace heavy libraries
  package.json
  src/lib/configurators/inputs/color.tsx
  yarn.lock
Labels: configuration

chore: bump version (#169)
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages, configuration

[FRNT-562] add icon component (#163)
  src/lib/global.ts
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Labels: @atoms

[FRNT-568] add font stacks (#153)
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Labels: @atoms

[FRNT-396] Rewrite data selectors (#150)
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Labels: @atoms, @molecules

[FRNT-520] Rewrite tooltip (#129)
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @atoms, @molecules

[FRNT-560] add weight to button-icon (#164)
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
Labels: @atoms

[FRNT-559] add toast weight (#165)
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Labels: @atoms, @molecules

[FRNT-564] Implement color palette fabrics (#162)
  src/lib/global.ts
  src/lib/palette.tsx
Labels: none

feat(docs): add configurators (+ color configurator)
  package.json
  src/woly/atoms/button/usage.mdx
  yarn.lock
Labels: @atoms, configuration

style(docs): fix spaces
  src/woly/atoms/button/usage.mdx
Labels: @atoms

feat(docs): add white priority to configurators
  src/lib/configurators/color/scopes.ts
Labels: none

fix(styles): typo
  src/lib/font-stacks.ts
Labels: none

fix(styles): typo (#171)
  src/lib/font-stacks.ts
Labels: none

fix: naming
  build/packages.js
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/button-uploader/usage.mdx
  src/upload/molecules/drag-uploader/index.tsx
  src/upload/molecules/drag-uploader/usage.mdx
  src/upload/molecules/index.ts
Labels: build

fix: rename Dropzone to Upload -clean usages -add missing validator in upload button -dont export upload area, move it to elements
  packages/upload/package.json
  src/upload/atoms/upload-area/usage.mdx
  src/upload/elements/index.ts
  src/upload/elements/upload-area/index.tsx
  src/upload/index.ts
  src/upload/molecules/dropzone/usage.mdx
  src/upload/molecules/index.ts
  src/upload/molecules/upload-button/index.tsx
  src/upload/molecules/upload-button/usage.mdx
  src/upload/molecules/upload/index.tsx
  src/upload/molecules/upload/usage.mdx
Labels: packages

.github/labeler.yml:

'@atoms':
  - src/woly/atoms/**/*
  - src/atoms/**/*

'@molecules':
  - src/woly/molecules/**/*
  - src/molecules/**/*

'@organisms':
  - src/woly/organisms/**/*
  - src/organisms/**/*

'@templates':
  - src/woly/templates/**/*
  - src/templates/**/*

packages:
  - packages/**/*

build:
  - build/**/*

configuration:
  - ./*
