Repository woly-ui/woly, changes with the labels that .github/labeler.yml gives for each.
All labels: @atoms, @molecules, @organisms, @templates, packages, build, configuration

feat: show components pages in tabs (#148)
  package.json
  src/woly/atoms/button/specification.mdx
  yarn.lock
Labels: @atoms, configuration

fix: checkbox absolute position in modal
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/usage.mdx
Labels: @molecules

fix: checkbox absolute position in modal (#154)
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/usage.mdx
Labels: @molecules

build(deps): bump gatsby theme
  package.json
  yarn.lock
Labels: configuration

build(deps): bump gatsby theme (#155)
  package.json
  yarn.lock
Labels: configuration

fix: npm version
  versions.json
Labels: configuration

fix: npm version (#156)
  versions.json
Labels: configuration

Deploying to gh-pages from @ 69a835ef0d3a9512febfe9d29921f9d6eb819837 🚀
  page-data/woly/atoms/button/page-data.json
Labels: none

fix: add missing box export in elements
  src/woly/elements/index.ts
Labels: none

fix: add missing box export in elements (#157)
  src/woly/elements/index.ts
Labels: none

fix: throw error in build instead of log
  build/index.js
Labels: build

fix: throw error in build instead of log (#158)
  build/index.js
Labels: build

chore: bump version
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages, configuration

fix: dont export box in index
  src/woly/atoms/text-area/index.tsx
  src/woly/elements/index.ts
Labels: @atoms

fix: dont export box in index (#159)
  src/woly/atoms/text-area/index.tsx
  src/woly/elements/index.ts
Labels: @atoms

chore: bump version (#160)
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages, configuration

fix(atoms): fullWidth prop with usage
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
Labels: @atoms

fix
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @molecules

add icon component
  src/lib/global.ts
  src/woly/atoms/index.ts
Labels: @atoms

add weight to button-icon
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
Labels: @atoms

fix
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Labels: @atoms

add goast styles
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
Labels: @atoms

fix tooltip styles
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @atoms, @molecules

update branch
  src/woly/molecules/tooltip/usage.mdx
Labels: @molecules

fix circle deps
  src/woly/molecules/tooltip/index.tsx
Labels: @molecules

feat: implement data-table
  src/woly/atoms/table/index.tsx
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/index.ts
Labels: @atoms, @molecules

feat: implement menu
  src/lib/playground.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/navigation/index.tsx
  src/woly/molecules/navigation/usage.mdx
Labels: @molecules

feat: write styleguide for data-attribute
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/molecules/checkbox/index.tsx
Labels: @molecules

fix: rewrite data-selector, fix grammar
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Labels: @atoms, @molecules

feat: component auto leveling
  src/lib/global.ts
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
Labels: @atoms

fix: fix chip padding and icon
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/elements/box/index.tsx
Labels: @atoms

fix naming
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
Labels: @atoms

fix usage
  src/woly/atoms/icon-box/usage.mdx
Labels: @atoms

fix usage
  src/woly/atoms/icon-box/usage.mdx
Labels: @atoms

fix icon-button styles
  src/lib/global.ts
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
Labels: @atoms

fix styles
  src/woly/molecules/tooltip/index.tsx
Labels: @molecules

[FRNT-562] add icon component (#163)
  src/lib/global.ts
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Labels: @atoms

add toast weight
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Labels: @atoms, @molecules

fix toast styles
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Labels: @atoms, @molecules

fix chip and button usage
  src/woly/atoms/chip/index.tsx
Labels: @atoms

.github/labeler.yml:

'@atoms':
  - src/woly/atoms/**/*
  - src/atoms/**/*

'@molecules':
  - src/woly/molecules/**/*
  - src/molecules/**/*

'@organisms':
  - src/woly/organisms/**/*
  - src/organisms/**/*

'@templates':
  - src/woly/templates/**/*
  - src/templates/**/*

packages:
  - packages/**/*

build:
  - build/**/*

configuration:
  - ./*
