Repository woly-ui/woly, pull requests merged in 2020-08, with the labels that each got.

#6 Add atom `input` and remove unused components
  README.md
  src/ui/atoms/form/index.tsx
  src/ui/atoms/form/story.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/story.tsx
Labels: @atoms, BREAKING CHANGE

#11 Add atom `surface`
  src/ui/atoms/index.ts
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/story.tsx
Labels: @atoms

#13 Update project deps
  package.json
  yarn.lock
Labels: dependencies

#10 Add atom `button-floating`
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-floating/story.tsx
  src/ui/atoms/index.ts
Labels: @atoms

#12 Remove `block`, `scope` and `title` atoms
  src/ui/atoms/block/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/scope/index.tsx
  src/ui/atoms/title/index.tsx
  src/ui/atoms/title/story.tsx
Labels: @atoms, BREAKING CHANGE

#14 Use `export * as` to expose atoms
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/input/index.tsx
Labels: @atoms

#5 Add atom `label`
  src/ui/atoms/index.ts
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/story.tsx
Labels: @atoms

#15 Add stylelint, lint-staged, import-sort
  .eslintrc.json
  .github/workflows/package.yml
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintrc.json
  package.json
  src/images.d.ts
  src/lib/branch.tsx
  src/ui/atoms/button-floating/story.tsx
  src/ui/atoms/button/story.tsx
  src/ui/atoms/input/story.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/story.tsx
  src/ui/atoms/surface/index.tsx
  yarn.lock
Labels: dependencies, lib

#4 Add atom `chip`
  src/static/icons/close-small.svg
  src/static/icons/index.ts
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/story.tsx
  src/ui/atoms/index.ts
  src/ui/themes/index.ts
Labels: @atoms

#16 Add molecule `checkbox`
  src/ui/index.ts
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/story.tsx
  src/ui/molecules/index.ts
Labels: @molecules

#7 Add molecule `switch`
  src/ui/molecules/index.ts
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/story.tsx
  yarn.lock
Labels: @molecules

#18 Add new build & deploy system
  .config/eslint-config.json
  .eslintrc
  .eslintrc.json
  .github/workflows/npm.yml
  .gitignore
  .storybook/addons.js
  .storybook/config.js
  .storybook/layout/fonts.js
  .storybook/layout/styles.js
  .storybook/main.js
  README.md
  build/babel.js
  build/builder.js
  build/index.js
  build/library.js
  build/minification.js
  build/packages.js
  build/tasks.js
  package.json
  packages/calendar/README.md
  packages/calendar/index.ts
  packages/calendar/package.json
  packages/woly/index.ts
  packages/woly/package.json
  src/lib/branch.tsx
  src/static/icons/index.ts
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/story.tsx
  tsconfig.json
  versions.json
  yarn.lock
Labels: @atoms, build, lib, packages
