Repository woly-ui/woly, pull requests merged in 2020-09, with the labels that each got.

#21 Add atom `popover`
  src/ui/atoms/index.ts
  src/ui/atoms/popover/index.tsx
Labels: @atoms

#19 Add atom `buttonIcon`
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/story.tsx
  src/ui/atoms/index.ts
Labels: @atoms

#20 Add atom `notification`
  src/ui/atoms/index.ts
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/story.tsx
Labels: @atoms, lib

#22 Add atom `menuList`
  src/ui/atoms/index.ts
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/story.tsx
  tsconfig.json
  yarn.lock
Labels: @atoms

#23 Add molecule `inputPassword`
  .storybook/webpack.config.js
  package.json
  src/images.d.ts
  src/ui/molecules/index.ts
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/story.tsx
  yarn.lock
Labels: @molecules

#31 Fix building system
  .github/workflows/npm.yml
  .storybook/layout/fonts.js
  build/builder.js
  packages/calendar/package.json
  src/images.d.ts
  src/ui/atoms/button-floating/story.tsx
  src/ui/atoms/button-icon/story.tsx
  src/ui/molecules/input-password/index.tsx
  yarn.lock
Labels: @atoms, @molecules, build, packages

#30 Add `surface` documentation
  src/ui/atoms/surface/usage.md
Labels: @atoms, documentation

#29 Add `popover` documentation
  src/ui/atoms/popover/usage.md
Labels: @atoms, documentation

#28 Add `label` documentation
  src/ui/atoms/label/usage.md
Labels: @atoms, documentation

#27 Add `input` documentation
  src/ui/atoms/input/usage.md
Labels: @atoms, documentation

#26 Add `chip` documentation
  src/ui/atoms/chip/usage.md
  tsconfig.json
Labels: @atoms, documentation

#25 Add `buttonFloating` documentation
  src/ui/atoms/button-floating/usage.md
Labels: @atoms, documentation

#24 Add `button` documentation
  src/ui/atoms/button/usage.md
Labels: @atoms, documentation

#34 Add `inputPassword` documentation
  src/ui/molecules/input-password/usage.mdx
Labels: @molecules, documentation

#33 Add `checkbox` documentation
  src/ui/molecules/checkbox/usage.mdx
Labels: @molecules, documentation

#32 Add `toggle` documentation
  src/ui/molecules/toggle/usage.mdx
Labels: @molecules, documentation

#36 Add gatsby
  .babelrc
  .config/eslint-config.json
  .github/workflows/deploy-docs.yml
  .storybook/addons.js
  .storybook/config.js
  .storybook/layout/fonts.js
  .storybook/layout/styles.js
  .storybook/layout/template.jsx
  .storybook/main.js
  .storybook/static/fonts/index.js
  .storybook/static/fonts/interfaces-bold.ttf
  .storybook/static/fonts/interfaces-regular.ttf
  .storybook/static/fonts/interfaces-thin.ttf
  .storybook/webpack.config.js
  build/babel.js
  build/builder.js
  gatsby-config.js
  package.json
  rollup.config.js
  yarn.lock
Labels: build

#35 Add formulas to `input` and fix component
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/story.tsx
Labels: @atoms

#37 Add formulas to `chip` and fix component
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/story.tsx
Labels: @atoms

#38 Add examples to documentation and fix components
  src/lib/box-styles.tsx
  src/ui/atoms/button-floating/story.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/story.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/story.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/story.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/story.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/story.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/story.tsx
  src/ui/atoms/menu-list/usage.mdx
  src/ui/atoms/notification/example.tsx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/story.tsx
  src/ui/atoms/notification/usage.mdx
  src/ui/atoms/popover/example.tsx
  src/ui/atoms/popover/usage.mdx
  src/ui/atoms/surface/example.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/story.tsx
  src/ui/atoms/surface/usage.mdx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/story.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/story.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/story.tsx
  src/ui/molecules/toggle/usage.mdx
  yarn.lock
Labels: @atoms, @molecules, documentation, lib

#40 Add icons as React component
  gatsby-config.js
  package.json
  src/static/icons/arrow-left.svg
  src/static/icons/index.ts
  src/static/icons/more.svg
  src/static/icons/search.svg
  src/ui/atoms/button-floating/index.tsx
  src/ui/atoms/button-floating/usage.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/usage.mdx
  yarn.lock
Labels: @atoms, @molecules, documentation

#41 Add prefix path
  gatsby-config.js
  package.json
  yarn.lock
Labels: bug, documentation
