Repository woly-ui/woly, pull requests merged in 2021-03, with the labels that each got.

#54 [FRNT-173] implement select
  src/lib/box-styles.tsx
  src/ui/molecules/select/example.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Labels: @molecules, lib

#59 [FRNT-336] remove label from components
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Labels: @molecules

#58 [FRNT-334] modify label component
  src/lib/box-styles.tsx
  src/ui/atoms/label/example.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/molecules/toggle/index.tsx
Labels: @atoms, @molecules, lib
