Repository woly-ui/woly, pull requests merged in 2021-08, with the labels that each got.

#181 [FRNT-603] Refactor data-attributes
  CONTRIBUTING.md
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/upload/elements/upload-area/index.tsx
  src/upload/molecules/button-uploader/index.tsx
  src/upload/molecules/drag-uploader/index.tsx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/separator/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/input-password/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/switch/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/tooltip/index.tsx
Labels: @atoms, @molecules

#183 [DS-36] Upgrade gatsby theme version
  .eslintignore
  .gitignore
  gatsby-config.js
  gatsby-node.js
  package.json
  src/woly/atoms/button/usage.mdx
  yarn.lock
Labels: @atoms

#179 [FRNT-592] feat: implement level decrement
  src/dev/global.ts
  src/lib/level-downgrade.ts
  src/woly/elements/input-container/index.tsx
  src/woly/index.ts
  src/woly/woly-global-styles.ts
Labels: @atoms

#123 [FRNT-543] create tab and tabbar component
  .editorconfig
  .eslintrc
  src/woly/atoms/button-icon/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/tabs/usage.mdx
Labels: @molecules

#186 [DS-40] Fix refactored data-icon in box components
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/icon-box/index.tsx
  src/woly/elements/box/index.tsx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/tabs/index.tsx
  src/woly/molecules/toast/index.tsx
Labels: @atoms, @molecules

#124 [FRNT-507] Implement data table
  package.json
  src/woly/atoms/table/index.tsx
  src/woly/atoms/table/usage.mdx
  src/woly/molecules/data-table/filter.tsx
  src/woly/molecules/data-table/index.tsx
  src/woly/molecules/data-table/range-cell.tsx
  src/woly/molecules/data-table/types.ts
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/index.ts
  yarn.lock
Labels: @molecules

#184 [DS-39] feat: implement time picker
  gatsby-node.js
  src/calendar/index.ts
  src/calendar/time-picker/index.tsx
  src/calendar/time-picker/types.ts
  src/calendar/time-picker/usage.mdx
  src/calendar/time-picker/use-time-picker.tsx
  src/dev/global.ts
  src/lib/hooks/index.ts
  src/lib/hooks/use-update-effect.ts
  src/woly/atoms/input/index.tsx
  src/woly/atoms/list/index.tsx
  src/woly/molecules/popover/index.tsx
Labels: @atoms, @molecules

#185 [DS-22] feature: implement line-box, refactor checkbox and radio-button
  src/woly/atoms/box/index.ts
  src/woly/elements/box/index.tsx
  src/woly/elements/index.ts
  src/woly/elements/visually-hidden/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/radio-button/index.tsx
  src/woly/molecules/radio-button/usage.mdx
Labels: @atoms, @molecules

#189 Rewrite textarea types
  src/woly/atoms/text-area/index.tsx
  yarn.lock
Labels: @atoms

#190 Fix random issues
  src/dev/global.ts
  src/dev/playground.tsx
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/backdrop/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/table/index.tsx
  src/woly/atoms/table/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text/index.tsx
  src/woly/elements/input-element/index.tsx
  src/woly/molecules/accordion/index.tsx
  src/woly/molecules/accordion/usage.mdx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/data-table/usage.mdx
  src/woly/molecules/popover/index.tsx
  src/woly/molecules/popover/usage.mdx
  src/woly/molecules/tooltip/index.tsx
Labels: @atoms, @molecules
