Repository woly-ui/woly, pull requests merged in 2021-06, with the labels that each got.

#120 FRNT-541: fix button padding
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
Labels: @atoms

#127 [FRNT-530] add global styles, add wb variant
  src/lib/global.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/input/usage.mdx
Labels: @atoms

#126 [FRNT-540] Add box-model for select
  src/ui/elements/box/index.ts
  src/ui/molecules/select/index.tsx
Labels: @molecules

#136 [FRNT-504] add specification for link component
  src/ui/atoms/link/specification.mdx
Labels: @atoms

#132 [FRNT-501] add spec for button
  src/ui/atoms/button/specification.mdx
Labels: @atoms

#121 FRNT-499 create toast component
  src/ui/atoms/button/index.tsx
  src/ui/molecules/index.ts
  src/ui/molecules/toast/index.tsx
  src/ui/molecules/toast/usage.mdx
Labels: @molecules

#141 [FRNT-529] rewrite button-icon structure and styles, update usage
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Labels: @atoms

#122 [FRNT-485]: Generate map of component states
  src/lib/map-generation.tsx
  src/ui/atoms/button-icon/state-props.tsx
  src/ui/atoms/button-icon/state.mdx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/state-props.tsx
  src/ui/atoms/button/state.mdx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/state-props.tsx
  src/ui/atoms/chip/state.mdx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/input/state-props.tsx
  src/ui/atoms/input/state.mdx
  src/ui/atoms/input/usage.mdx
Labels: @atoms

#135 [FRNT-503] add chip specification
  src/ui/atoms/chip/specification.mdx
Labels: @atoms

#130 [FRNT-517] implement loader component
  src/lib/playground.tsx
  src/static/icons/index.ts
  src/static/icons/spinner.svg
  src/ui/atoms/index.ts
  src/ui/atoms/loader/example.tsx
  src/ui/atoms/loader/index.tsx
  src/ui/atoms/loader/usage.mdx
Labels: @atoms

#144 [FRNT-556] rewrite variant name to priority
  src/lib/global.ts
  src/lib/index.ts
  src/lib/types.ts
  src/types/woly.d.ts
  src/ui/atoms/backdrop/usage.mdx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/header-panel/usage.mdx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/heading/usage.mdx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/notification/index.tsx
  src/ui/atoms/notification/usage.mdx
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/separator/usage.mdx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/usage.mdx
  src/ui/atoms/table/index.tsx
  src/ui/atoms/table/usage.mdx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/atoms/text/index.tsx
  src/ui/atoms/text/usage.mdx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
  src/ui/atoms/upload-area/index.tsx
  src/ui/atoms/upload-area/usage.mdx
  src/ui/elements/input-container/index.tsx
  src/ui/molecules/accordion/index.tsx
  src/ui/molecules/accordion/usage.mdx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/modal/index.tsx
  src/ui/molecules/modal/usage.mdx
  src/ui/molecules/popover/index.tsx
  src/ui/molecules/popover/usage.mdx
  src/ui/molecules/radio-button/index.tsx
  src/ui/molecules/radio-button/usage.mdx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
  src/ui/molecules/switch/index.tsx
  src/ui/molecules/switch/usage.mdx
Labels: @atoms, @molecules

#139 [FRNT-515] Fix table cell vertical position
  src/ui/atoms/table/index.tsx
Labels: @atoms

#147 [FRNT-513] rewrite input and textarea styles
  src/lib/global.ts
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/text-area/index.tsx
  src/woly/atoms/text-area/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/elements/input-element/index.tsx
Labels: @atoms

#143 [FRNT-555] feat: implement avatar component
  src/static/icons/index.ts
  src/static/icons/profile.svg
  src/woly/atoms/avatar/index.tsx
  src/woly/atoms/avatar/usage.mdx
  src/woly/atoms/avatar/use-image-load.ts
  src/woly/atoms/index.ts
Labels: @atoms

#146 [FRNT- 561] update box component
  src/woly/atoms/box/index.ts
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/index.ts
  src/woly/atoms/list/index.tsx
  src/woly/atoms/loader/example.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/loader/usage.mdx
  src/woly/elements/box/index.tsx
  src/woly/elements/index.ts
  src/woly/molecules/field/index.tsx
  src/woly/molecules/index.ts
  src/woly/molecules/notification/index.tsx
  src/woly/molecules/notification/usage.mdx
  src/woly/molecules/select/index.tsx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @atoms, @molecules

#148 feat: show components pages in tabs
  package.json
  src/woly/atoms/button/specification.mdx
  yarn.lock
Labels: @atoms

#154 [FRNT-577] fix: checkbox absolute position in modal
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/usage.mdx
Labels: @molecules, bug

#155 [FRTN-578] bump gatsby theme
  package.json
  yarn.lock
Labels: dependencies

#158 fix: throw error in build instead of log
  build/index.js
Labels: build

#159 fix: dont export box in index
  src/woly/atoms/text-area/index.tsx
  src/woly/elements/index.ts
Labels: @atoms

#160 chore: bump version
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages
