Repository woly-ui/woly, pull requests merged in 2021-07, with the labels that each got.

#163 [FRNT-562] add icon component
  src/lib/global.ts
  src/woly/atoms/icon-box/index.tsx
  src/woly/atoms/icon-box/usage.mdx
  src/woly/atoms/index.ts
Labels: @atoms

#165 [FRNT-559] add toast weight
  src/lib/global.ts
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/chip/index.tsx
  src/woly/atoms/chip/usage.mdx
  src/woly/molecules/toast/index.tsx
  src/woly/molecules/toast/usage.mdx
Labels: @atoms, @molecules

#153 [FRNT-568] add font stacks
  src/lib/font-stacks.ts
  src/lib/global.ts
  src/woly/atoms/heading/index.tsx
  src/woly/atoms/loader/index.tsx
  src/woly/atoms/text/index.tsx
Labels: @atoms, lib

#150 [FRNT-396] Rewrite data selectors
  src/styleguide/html/data-attribute/data-attribute.mdx
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/button/usage.mdx
  src/woly/atoms/input/usage.mdx
  src/woly/atoms/label/usage.mdx
  src/woly/atoms/text/usage.mdx
  src/woly/elements/input-container/index.tsx
  src/woly/molecules/checkbox/index.tsx
  src/woly/molecules/checkbox/usage.mdx
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
  src/woly/molecules/input-password/usage.mdx
  src/woly/molecules/radio-button/usage.mdx
  src/woly/molecules/select/usage.mdx
  src/woly/molecules/switch/usage.mdx
Labels: @atoms, @molecules

#129 [FRNT-520] Rewrite tooltip
  src/woly/atoms/box/usage.mdx
  src/woly/atoms/button/usage.mdx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @atoms

#169 chore: bump version
  packages/calendar/package.json
  packages/woly/package.json
  versions.json
Labels: packages

#173 [FRNT-591] Fix label's paddings bug in Field component
  src/woly/molecules/field/index.tsx
  src/woly/molecules/field/usage.mdx
Labels: @molecules

#174 [FRNT-595] fix Loader
  build/builder.js
  src/static/icons/spinner.svg
Labels: build

#175 [FRNT-596] fix tooltip styles, fix chip, button and button-icon styles
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button/index.tsx
  src/woly/atoms/chip/index.tsx
  src/woly/molecules/tooltip/index.tsx
Labels: @atoms, @molecules

#172 [FRNT-579] fix modal styles
  src/lib/global.ts
  src/woly/atoms/backdrop/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/modal/use-scroll-lock.ts
Labels: @molecules

#177 chore: bump version
  packages/calendar/package.json
  packages/upload/package.json
  packages/woly/package.json
  versions.json
Labels: packages

#178 [FRNT-580] rewite surface
  src/lib/global.ts
  src/static/icons/index.ts
  src/static/icons/threebars.svg
  src/woly/atoms/button-icon/index.tsx
  src/woly/atoms/button-icon/usage.mdx
  src/woly/atoms/surface/index.tsx
  src/woly/atoms/surface/usage.mdx
  src/woly/atoms/text/index.tsx
  src/woly/molecules/modal/index.tsx
  src/woly/molecules/tooltip/index.tsx
  src/woly/molecules/tooltip/usage.mdx
Labels: @atoms, @molecules

#151 [FRNT-505] add specification for button icon
  src/woly/atoms/button-icon/specification.mdx
Labels: @atoms, documentation

#170 [FRNT-548] Add documentation configurator
  package.json
  src/lib/configurators/color/index.tsx
  src/lib/configurators/color/scopes.ts
  src/lib/configurators/common/sections.tsx
  src/lib/configurators/common/variable-field.tsx
  src/lib/configurators/configurators.tsx
  src/lib/configurators/context.ts
  src/lib/configurators/index.ts
  src/lib/configurators/inputs/color.tsx
  src/lib/configurators/inputs/types.tsx
  src/lib/configurators/stylesheet.tsx
  src/lib/configurators/types.ts
  src/lib/hooks/use-force-update.ts
  src/lib/hooks/use-sync-height.tsx
  src/lib/hooks/use-unique-id.ts
  src/lib/map-generation.tsx
  src/lib/playground.tsx
  src/static/icons/color-palette.svg
  src/static/icons/index.ts
  yarn.lock
Labels: documentation, feature
