Repository woly-ui/woly, pull requests merged in 2021-04, with the labels that each got.

#55 [FRNT-175] implement tooltip
  .eslintrc
  gatsby-node.js
  src/lib/index.ts
  src/lib/position-relative.tsx
  src/ui/atoms/tooltip/example.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
  tsconfig.json
Labels: @atoms, lib

#66 [FRNT-426]: Исправить сборку Tooltip
  src/ui/atoms/tooltip/index.tsx
Labels: @atoms, bug

#63 [FRNT-323] add modified menulist
  src/static/icons/check.svg
  src/static/icons/index.ts
  src/static/icons/info.svg
  src/ui/atoms/index.ts
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
  src/ui/atoms/menu-list/index.tsx
  src/ui/atoms/menu-list/usage.mdx
Labels: @atoms

#57 [FRNT-329] add checkbox component
  src/lib/box-styles.tsx
  src/static/icons/icon-uncheck.svg
  src/static/icons/icon_check.svg
  src/static/icons/index.ts
  src/ui/atoms/label/example.tsx
  src/ui/molecules/checkbox/example.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
Labels: @atoms, @molecules, lib

#56 [FRNT-191] implement new chip version
  .eslintrc
  src/static/icons/index.ts
  src/static/icons/plus.svg
  src/ui/atoms/chip/example.tsx
  src/ui/atoms/chip/index.tsx
  src/ui/atoms/chip/usage.mdx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  yarn.lock
Labels: @atoms, @molecules

#64 [FRNT-366] fix surface
  src/lib/box-styles.tsx
  src/ui/atoms/surface/index.tsx
  src/ui/atoms/surface/usage.mdx
Labels: @atoms, documentation, lib

#61 [FRNT-345] Rewrite Select to div instead of input, and fix paddings
  gatsby-node.js
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/static/icons/arrow.svg
  src/static/icons/index.ts
  src/ui/molecules/select/example.tsx
  src/ui/molecules/select/index.tsx
  src/ui/molecules/select/usage.mdx
Labels: @atoms, @molecules, lib

#69 [FRNT-440]: Fix documentation build
  src/lib/box-styles.tsx
Labels: bug

#62 [FRNT-324] Rewrite Button to formulas and remove icon from right
  src/lib/box-styles.tsx
  src/ui/atoms/button/example.tsx
  src/ui/atoms/button/index.tsx
  src/ui/atoms/button/usage.mdx
  src/ui/atoms/surface/example.tsx
Labels: @atoms

#70 [FRNT-440]: fix surface mdx
  src/ui/atoms/surface/usage.mdx
Labels: documentation

#78 [FRNT-436]: add script to clean gatsby cache
  package.json
  src/ui/molecules/select/usage.mdx
Labels: build

#80 [FRNT-451] Fix tooltip position
  src/ui/atoms/index.ts
  src/ui/atoms/tooltip/example.tsx
  src/ui/atoms/tooltip/index.tsx
  src/ui/atoms/tooltip/usage.mdx
Labels: @atoms

#79 [FRNT-369] Implement Backdrop atom
  src/lib/box-styles.tsx
  src/ui/atoms/backdrop/index.tsx
  src/ui/atoms/backdrop/usage.mdx
  src/ui/atoms/index.ts
Labels: @atoms

#72 [FRNT-370] Implement Heading component
  src/lib/box-styles.tsx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/heading/usage.mdx
  src/ui/atoms/index.ts
Labels: @atoms, documentation, lib

#71 [FRNT-372] Implement Text component
  src/lib/box-styles.tsx
  src/ui/atoms/index.ts
  src/ui/atoms/text/index.tsx
  src/ui/atoms/text/usage.mdx
Labels: @atoms, lib

#67 [FRNT-335] Implement field component
  package.json
  src/types/woly.d.ts
  src/ui/atoms/text-area/example.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/molecules/field/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/index.ts
Labels: @atoms

#83 [FRNT-469] fix primary variant
  src/lib/box-styles.tsx
Labels: bug, lib

#75 [FRNT-330] Rewrite Toggle, change name to Switch
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/lib/keyboard-event.ts
  src/lib/select-handlers.ts
  src/ui/molecules/index.ts
  src/ui/molecules/select/index.tsx
  src/ui/molecules/switch/index.tsx
  src/ui/molecules/switch/usage.mdx
  src/ui/molecules/toggle/example.tsx
  src/ui/molecules/toggle/index.tsx
  src/ui/molecules/toggle/usage.mdx
Labels: @atoms, @molecules, lib

#89 [fix] Fix docs build
  src/ui/molecules/field/usage.mdx
Labels: build

#86 [FRNT-400] Implement Grid and Column
  src/lib/box-styles.tsx
  src/ui/index.ts
  src/ui/templates/grid/index.tsx
  src/ui/templates/grid/usage.mdx
  src/ui/templates/index.ts
Labels: documentation, lib

#73 [FRNT- 328] Rewrite input component and input password component
  src/lib/box-styles.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/input/example.tsx
  src/ui/atoms/input/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/example.tsx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/elements/quarks/index.ts
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/elements/quarks/input-element/index.tsx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/input-password/example.tsx
  src/ui/molecules/input-password/index.tsx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/index.tsx
Labels: feature

#84 [FRNT-373] Rewrite ButtonIcon
  src/ui/atoms/button-icon/example.tsx
  src/ui/atoms/button-icon/index.tsx
  src/ui/atoms/button-icon/usage.mdx
Labels: @atoms, documentation, lib

#81 [FRNT-444] Rewrite checkbox styles
  src/lib/box-styles.tsx
  src/lib/index.ts
  src/ui/atoms/header-panel/index.tsx
  src/ui/atoms/label/usage.mdx
  src/ui/atoms/text/usage.mdx
  src/ui/molecules/checkbox/index.tsx
  src/ui/molecules/checkbox/usage.mdx
  src/ui/molecules/select/index.tsx
Labels: @atoms

#92 [FRNT-371] Implement Separator atom
  src/ui/atoms/index.ts
  src/ui/atoms/separator/index.tsx
  src/ui/atoms/separator/usage.mdx
Labels: @atoms

#94 [FRNT-488] Fix Grid and Column
  src/ui/templates/grid/index.tsx
Labels: bug

#93 [FRNT-176] Implement Table component
  src/ui/atoms/index.ts
  src/ui/atoms/table/index.tsx
  src/ui/atoms/table/usage.mdx
Labels: @atoms

#95 [FRNT-477] Implement danger variant
  src/lib/box-styles.tsx
  src/ui/atoms/heading/index.tsx
  src/ui/atoms/input/usage.mdx
  src/ui/atoms/label/index.tsx
  src/ui/atoms/text-area/index.tsx
  src/ui/atoms/text-area/usage.mdx
  src/ui/atoms/text/index.tsx
  src/ui/elements/quarks/input-container/index.tsx
  src/ui/molecules/field/usage.mdx
  src/ui/molecules/input-password/usage.mdx
  src/ui/molecules/switch/usage.mdx
Labels: @atoms, @molecules

#85 [FRNT- 450] Rewrite menulist
  src/lib/index.ts
  src/lib/listHandlers.ts
  src/lib/select-handlers.ts
  src/ui/atoms/button/index.tsx
  src/ui/atoms/list/index.tsx
  src/ui/atoms/list/usage.mdx
Labels: @atoms, @molecules

#97 [FRNT-511] Add font-family for font weight display
  src/lib/box-styles.tsx
Labels: bug

#101 [FRNT-508] Fix checkbox styles
  src/ui/molecules/checkbox/index.tsx
Labels: @molecules
